[2014-07-10 20:30] jeffreyho92 opened #1 "hi, how can i change the time (0:00-24:00) to only 3 range?"
9:00   - 12:00 range 1
12:00 - 15:00 range 2
15:00 - 18:00 range 3

something like this...

Thankyou.

[2014-07-15 18:13] SkylerRogers opened #2 "Suggested Features"
Thanks for putting this together; it gave me a great starting point on a small angular app I am working on.

Just some suggested features (a.k.a things I am working through now)

1) User friendly hour rows on day/week view (instead of 0-23 index)
2) Day/week view auto scroll to first event on load (instead of showing 6-12 empty rows for early morning)
3) CLNDR.js Integration (http://kylestetz.gith

[2014-07-21 22:21] soncodi opened #3 "License"
Can you provide a license for this project?

[2014-07-22 07:53] #3 closed, assigned to nobody

[2014-08-11 06:55] arepalli-praveenkumar opened #5 "Where is the module "ui.responsiveCalendar" in src file ?"
I was added a "ui.responsiveCalendar" in my App.My App not loaded.
I Could not find "ui.responsiveCalendar" in calendar.js
How to resolve this

[2014-08-11 15:03] arepalli-praveenkumar opened #6 "How to add Dynamic Template whenever i click on particular Date."
My Idea is to add Dynamic content (partial HTML file) whenever i perform click action on particular Date.Its like a Google Calendar create event or task Quick popup.How Do I achieve this .Any help appreciated

month.html

[code]

In Calendar.js
I tried in following ways
Not worked.

[code]

Applied to All 'td'

[code]

[2014-08-11 21:41] #5 closed, assigned to nobody

[2014-08-21 13:02] arepalli-praveenkumar opened #7 "All Day Event displayed in Two cells eventhough that is one Day Event"
This is one of the event data
This is All day event that starts at "Sat, Aug 2, 2014 11:59 PM" and ends at "Sat, Aug 2, 2014 12:00 AM"
Current  :This event displayed in Aug 1 and Aug 2 cells
Expected :This event should be displayed in Aug 2 cell

[code]

[2014-09-01 18:22] #7 closed, assigned to nobody

[2014-09-02 18:19] #6 closed, assigned to nobody

[2014-09-03 03:12] paul2569 opened #8 "Updating eventSource array"
I'm a little confused as to how the eventSource array gets displayed.

Using the 'Week' view I can push in my events I have retrieved from an API.
These display correctly, however if I then try to splice the eventSource array or push additional objects into the array, the array is updated but the view isn't. Changing the view to next / prev week causes it to display events correctly.

How can I ge

[2014-09-05 07:19] arepalli-praveenkumar opened #9 "How to split 'day' and 'week' view into half an hour based?"
Hi @twinssbc
I Want add custom implementation to the existing calendar,there week and day views were hourly based.I want change it to half an hour based like a google calendar.
How do I achieve, Could you please give  a clue?

[2014-10-05 13:53] #9 closed, assigned to nobody

[2014-11-06 05:11] arepalli-praveenkumar opened #10 "How to highlight current date in week view."
Hi @twinssbc ,
When i was in  week view i am little confused what is the current date(user perspective) .
How to do it.I Do see in month view as we highlighted current date.

[2014-11-08 12:06] ph3b opened #11 "Change hours and minutes to 24h format"
Hello,

I'm wondering if there is anyway to change the the hour-mode in weekview to 24-hours format.

Thanks in advance

[2014-11-10 07:00] #10 closed, assigned to nobody

[2014-11-10 17:58] #11 closed, assigned to nobody

[2014-11-10 20:05] ph3b opened #12 "Clicking a field in week-view"
Is it possible to pass an object to the controller by clicking on an empty cell in the weekview, containing the start and end-hour + date?

[2014-12-16 11:17] qbdpwereq opened #13 "Including a graph inside a day cell"
In your calendar's month view, I would like have graphs (directive) for each day cell. How could I go about this? Thanks in advance.

[2014-12-28 08:42] pillage opened #14 "Go to date"
I'd like to add a datepicker and be able to go to a specified date. Any idea how I can implement this?
Thanks.

[2015-01-04 10:07] twinssbc commented on #14
@pillage sorry for the late response, you can refer to the today function in the demo.
Basically in the view, you assign a variable to the ng-model, for example, currentDate,
then in your datepicker select function, you can assign the selected date to currentDate.

[2015-01-04 12:38] pillage commented on #14
Got it working thanks.

[2015-01-04 12:38] #14 closed

[2015-01-22 17:33] bmwertman opened #15 "Bootstrap dependency"
Are their particular components of Bootstrap CSS that are used in this? If I can make a custom build of the Bootstrap CSS file I would like to. I'm having issues with full Bootstrap CSS overwriting styles in my application's CSS.

[2015-01-23 13:06] twinssbc commented on #15
@bmwertman I only uses some basic style for the table (not cell, just table container) and the navigation button.
So I think it's probably safe for you to use your own customized CSS.

[2015-01-31 22:18] bmwertman opened #16 "Content placed in same view below where week.html gets rendered is not being rendered"
I have another block of content, a carousel slider, that I can not get to render if it is placed below where the week.html markup gets rendered. If I move it above where week.html gets rendered, the carousel and calendar week view render fine and don't interfere with each other.

[2015-02-01 06:04] twinssbc commented on #16
@bmwertman do you have an example page? I tried to insert the carousel under the below section in my demo page, it renders well.

[code]

[2015-02-02 13:43] bmwertman commented on #16
caledendar.html
`<div ng-switch="calendarMode">`
    `<div class="row calendar-navbar">`
        ``
       `<div class="calendar-header col-xs-8"><strong>{{title}}</strong></div>`
       ``
    `</div>`
    `<dayview ng-switch-when="day"></dayview>`
    `<monthview ng-switch-when="month"></monthview>`
    `<weekview ng-switch-when="week"></weekview>`
`</div>`

week.html
`<div ng-switch="calendarMo

[2015-02-02 14:06] bmwertman commented on #16
I'm only trying to show the week view of the calendar above my carousel. So I have some sections of calendar.html and week.html commented out. As shown below the carousel does not render. If I move the calendar below the carousel in my manage.html file both the carousel and week view calendar render.
caledendar.html
[code]
week.html
[code]

manage.html (where I am trying to render the week view ca

[2015-02-02 21:00] bmwertman commented on #16
I found the issue. This is a bug related to the Ionic framework `ion-content` and `<ion-pane>` directive/ HTML tags. See the issue here https://github.com/driftyco/ionic/issues/841.

[2015-02-02 21:00] #16 closed

[2015-02-10 02:34] pillage opened #17 "Change week start date"
Is it possible to change the starting day in 'Week' view from Sunday to Monday?

Thanks.

[2015-02-10 14:48] twinssbc commented on #17
@pillage I just did some quick test. I found the below two lines in the weekview code and added one day to both the firstDayOfWeek and endTime. It appears the week view starts from Monday. Feel free to test further to see if everything works as expected.

[code]

[2015-02-10 15:04] pillage commented on #17
@twinssbc Looks good. Thanks.

[2015-02-10 15:04] #17 closed

[2015-03-10 15:51] edmondchui opened #18 "Bower Installable"
Hi,

Thanks for making this super easy to use library.

Could you please make it bower installable?

Thanks,
Edmond

[2015-03-11 13:13] twinssbc commented on #18
Good idea, will do.

[2015-03-11 16:42] edmondchui commented on #8
In the month view, after removing items from ```$scope.eventSource```, I call ```$scope.$broadcast('eventSourceChanged',$scope.eventSource)```. Inside the function ```_onDataLoaded```, the loop [```for (var i = 0; i < len; i += 1)```](https://github.com/twinssbc/AngularJS-ResponsiveCalendar/blob/master/src/rcalendar/calendar.js#L368-L421) only loop for the current events in the ```$scope.eventSour

[2015-03-11 17:36] edmondchui commented on #8
I have a simple solution, though not necessary inexpensive.

Inside ```calendar.js```, at the end of the [calendar directive declaration](https://github.com/twinssbc/AngularJS-ResponsiveCalendar/blob/master/src/rcalendar/calendar.js#L220-L245), add an event handler for a new event ```eventRemoved``` to force a ```refreshView()```
[code]
In our code after we remove an event, we can call this
[code]

[2015-03-16 15:37] twinssbc commented on #18
@edmondchui I have modify the code to make it bower installable
`bower install ng-responsive-calendar`

[2015-03-16 21:21] edmondchui commented on #18
Here is the error I got:
[code]
I guess you need to add something else in the git repository.

[2015-03-17 13:41] twinssbc commented on #18
Sorry, I forgot to push the tag. Now it should work.

[2015-03-18 21:19] edmondchui commented on #18
Thanks! It works now.

[2015-03-18 21:19] #18 closed

[2015-03-19 04:00] Ganganation opened #19 "Times in weekview not showing right"
Hi,

I am currently using this module to create my own calendar variant. While doing that I discovered a little bug. The times in the weekview are not showing right. Somehow it keep incrementing the time.getHours(). And sinds I am using that I had to fix it.

This is what I did:

old code (line 528 calendar.js):
<code>
function createDateObjects(startTime) {
                var times = [],

[2015-03-19 04:02] Ganganation commented on #12
At the moment I am 'developing' something like this in this module. If there is still interest I could share what I've made.

[2015-03-19 15:57] twinssbc commented on #19
@Ganganation Thanks for reporting!
The fix has been committed.
https://github.com/twinssbc/AngularJS-ResponsiveCalendar/commit/51ab141030a764ca11bee3e724a5297fb94f5a01

[2015-03-19 15:57] #19 closed

[2015-03-21 17:12] edmondchui commented on #15
@twinssbc Could you please update ```[bower.json](https://github.com/twinssbc/AngularJS-ResponsiveCalendar/blob/master/bower.json)``` to use version 3.3.4 of bootstrap then? The currently specified version ~3.0.3 is too old. Thanks.

[2015-03-22 01:19] edmondchui commented on #19
Hi @twinssbc, could you please increment the (patch) version number in bower.json w.r.t. this change? Thanks.

[2015-03-22 12:44] twinssbc commented on #19
@edmondchui I have updated the patch version in bower

[2015-03-22 12:53] twinssbc commented on #15
@edmondchui I think it's better to leave the version unchanged, because:
1) when I developed this directive, I referenced boostrap 3.0.3, that means I'm sure it supports bootstrap 3.0.3, but I can't verify the behavior against all bootstrap future versions.
2) If I increase the dependency version in the bower, someone who is still using BS 3.0.3 will be forced to upgrade BS, and it may break the e

[2015-03-22 14:07] edmondchui commented on #19
Thanks @twinssbc !

[2015-03-22 14:09] edmondchui commented on #15
@twinssbc I see your concerns. Thanks.

[2015-03-24 17:17] edmondchui opened #20 "Replace anonymous function with closure"
In the code https://github.com/twinssbc/AngularJS-ResponsiveCalendar/blob/master/src/rcalendar/calendar.js#L196-L201:

[code]
Is it possible to replace the anonymous function in the loop with closure? jshint warns that Don't make functions within a loop.

It seems that with angular.forEach we don't get the looping variable. We might have to use for loop instead to get the looping variable to gener

[2015-03-29 04:43] twinssbc commented on #20
@edmondchui I replaced the forEach with the for loop.

[2015-03-29 04:43] twinssbc commented on #20
@edmondchui I replaced the forEach with the for loop.

[2015-03-29 16:25] edmondchui commented on #20
Thanks @twinssbc. jshint does not complaint the loop issue anymore!

One minor thing is that you've added ```'use strict';``` in each directive declaration. jshint says it's not necessary, even though I have ```"strict: true;``` specified in my .jshintrc file.

[2015-03-29 16:25] #20 closed

[2015-03-29 17:26] edmondchui opened #21 "Events inside Event Details not Sorted"
Current if the events in the eventSource is not sorted, events on the same day are not displayed in chronological orders within the event details views.

We need to add sorting to the array after this code segment (https://github.com/twinssbc/AngularJS-ResponsiveCalendar/blob/master/src/rcalendar/calendar.js#L422-L429)

[code]
Code to add
[code]

[2015-03-30 14:09] twinssbc commented on #20
@edmondchui my jshint prompts Missing "use strict" statement. That's why I added them.

[2015-03-30 14:20] twinssbc commented on #21
@edmondchui fixed in 0.1.3

[2015-03-31 16:35] edmondchui commented on #21
It works great! Thanks @twinssbc!

[2015-03-31 16:35] #21 closed

[2015-03-31 16:36] edmondchui opened #22 "Automatically Switch to Day View on Small Screen Width"
What is the best way to achieve that?

[2015-04-01 14:01] twinssbc commented on #22
@edmondchui you can try https://github.com/AnalogJ/matchmedia-ng or https://github.com/jacopotarantino/angular-match-media
set the calendar mode in the on() method

[2015-04-02 19:51] almaweb opened #23 "Ajax request"
Awesome job on this. I'm new the Angular but I believe I've poked around enough to get the ajax request working that'll retrieve events from a mysql database via php script and return the events in json format. I'd appreciate any help.

[2015-04-03 18:57] marsh76 commented on #23
Retrieve data from your server for events to be displayed in the calendar.  Then w/in your controller for the calendar, loop through the results returned from your database, and build out an array of event objects formatted as follows:

var events = [],
    i = 0;
for (i = 0; 8 < YourData.length; i += 1) {
     events.push({
          title: YourData[i].Title,
          startTime: YourData[i].Star

[2015-04-05 02:25] edmondchui commented on #22
angular-match-media works awesome! Thanks!

[2015-04-05 02:25] #22 closed

[2015-08-03 05:52] kentyap opened #24 "How to insert/delete an event"
How to insert and delete  an event into the calendar?

[2015-08-05 14:09] twinssbc commented on #24
@kentyap, this calendar is just a representation of the underlying data source.
Once the underlying data source is changed, the calendar will be updated.
You need to build your own implementation of inserting/deleting event, usually it requires to manipulate your backend database.

The calendar itself provides some event for you.
For example, when you select a date in the month view, it triggers t

[2015-08-06 13:12] mshaaban0 opened #25 "Localization"
Pretty cool, it's in a need of localization though.
I will be glad to help btw.

[2015-08-06 14:33] twinssbc commented on #25
@mshaaban0, feel free to submit PR, thanks.

[2015-10-12 14:12] #15 closed

[2015-10-30 19:06] mkizito76 opened #32 "Limit the hour range"
Deleted - Found solution

[2015-10-30 19:09] #32 closed

[2015-11-03 09:02] n9986 opened #33 "CalendarController should be named before used"
I believe it will be good to namespace CalendarController. It caused a conflict with another controller in my app named as CalendarController. While I should have namespaced it as well, I guess it would be good to do this in this code as a best practice.

Thank you for this great library!

[2015-11-07 14:59] twinssbc commented on #33
@n9986 I have updated the controller name, thanks for your suggestion.

[2015-11-07 14:59] #33 closed

[2015-11-16 10:35] almaweb opened #35 "Update eventSource without refresh page"
I create an delete event function, all is ok and the event is delete from backend but the calendar didn't refresh. to see the change i must refresh the page....how can i archieve this without refreshing page...
Merci

[2015-11-16 18:01] hatim-haffane opened #36 "Integrate with ionic app ?"
hello i try to integrate this with an ionic app , the calendar shows well but the event not showing , here is my code :

Controller :

    app.controller('testCtrl', function($scope, $stateParams,ReservationService,$ionicContentBanner) {
	$scope.events = [];//createRandomEvents();
	// Rest api Call
	ReservationService.getById(33,setbookings);

	function setbookings(data){
    	$scope.groups = data

[2015-11-17 00:41] twinssbc commented on #36
@hatim-haffane are you using the latest version of this calendar control? I recently fixed a bug that the controller only watches the "eventSource" expression.
So you can try event-source="eventSource" or use the latest version.
BTW, i also have a customised version for ionic, it includes some optimisation to avoid the performance issue, I will find some time to upload it.

If you find the navigat

[2015-11-17 00:49] twinssbc commented on #35
@AlexSwensen the controller is watching the eventSource array, do you modify this array after you made the change at the backend?
Each time your backend update is successful, you have to call something like
[code]
Or you can directly modify the element of the existing eventSource array then manually fire the event.
[code]

[2015-11-17 01:27] almaweb commented on #35
Exuse me but i am no t an angular expert
    $scope.loadEvents = function ()  {
            agendaService.getEvents()
              .then(function (result) {

                $scope.myevents = result.data;
                var events = [];
                for (var i = $scope.myevents.length - 1; i >= 0; i--) {
                    var date = new Date();
                    var prop = $scope.myevents

[2015-11-17 09:26] hatim-haffane commented on #36
thanks i will try the last version . and i will be thankful if you can upload the ionic version of this wonderful plugin

[2015-11-17 12:19] twinssbc commented on #35
@almaweb actually your code looks correct, since you assign the entire array to eventSource, you don't need to broadcast the event.
Could you also provide your html part?

[2015-11-17 12:57] almaweb commented on #35
this is my month view, i only add a button to delete event with his action and for css i use materializecss
<div>
    <table class="table table-bordered monthview-datetable monthview-datetable">
        <thead>
        <tr>
            <th ng-show="showWeeks" class="calendar-week-column text-center">#</th>
            <th ng-repeat="label in labels track by $index" class="text-center">

[2015-11-17 13:06] almaweb commented on #35
I only add a button to delete event, all the rest is the same to your template...

[2015-11-17 14:17] AlexSwensen commented on #35
@twinssbc Im not sure i understand the question... The changes i made to this project were only related to controlling part of the calendar from an external component.

[2015-11-17 16:25] almaweb commented on #35
yes....
Could you update your package with some button to delete event.....it will be very cool

[2015-11-17 17:40] hatim-haffane commented on #36
i tried  the new version but i still cant see the event , and the css is missed up, can you please send me the ionic version ?

[2015-11-18 00:21] twinssbc commented on #36
@hatim-haffane I will clean up the ionic version and send out during the weekend.

[2015-11-18 00:24] twinssbc commented on #35
@almaweb I will try to add more samples in the demo during the weekend.
Could you send out the main html page which contains the <calendar> tag. I suspect you didn't assign the eventSource to a correct scope.

[2015-11-18 11:17] almaweb commented on #35
Yes , you r right ...it was a problem with eventSource..Sorry
I will wait for your samples to restruct my hole project in a correct way..

[2015-11-22 15:46] twinssbc commented on #36
@hatim-haffane Here is the Ionic version.
https://github.com/twinssbc/Ionic-Calendar
Feel free to test it and report any bug. Thanks.

[2015-12-17 21:42] niklas73 commented on #24
Hello
Nice script, is it possible that you can show how to add a event..
How can i do to show weeks...

[2015-12-19 00:36] niklas73 opened #37 "Add time to calendar"
Hello

I have a few questions about the system.

- Add text to sunday that it´s closed.
- Add in week, that the time is showing 07.00 - 16.30 and every event is 15 min.

Check the image, hope you understand what i mean.
![screenshot_1](https://cloud.githubusercontent.com/assets/7307430/11910124/d20dcc94-a5f0-11e5-985f-490de0492338.png)

[2015-12-20 07:06] twinssbc commented on #37
@niklas73
1. Adding text to Sunday is easy, you just need to modify week.html to add extra div on Sunday column. You can refer to how I place the event on the table. Basically "Closed" div is like a big event last for the whole day.
2. Regarding display the calendar into smaller time interval, you need to modify the JS code a bit.
Take a look at the ctrl._onDataLoaded function, this is the main fu

[2015-12-20 11:14] niklas73 commented on #37
hello
Thanks for your fast replay, i have search in week.html and the js file.
And I can´t realy understand what you mean.
I see what you have type, but i can´t understand where i change.
Do you have the time to help me ???

[2015-12-20 14:55] twinssbc commented on #37
@niklas73 I'm afraid I don't have time to implement your full idea.
I suggest you take some time to dig deep into the source code.
If you have any question, I'm always happy to provide the answer.

[2016-01-07 17:14] pucchur opened #38 "Wrong week number showing for January"
In month view of January it shows wrong week number

![wekknumber](https://cloud.githubusercontent.com/assets/3825401/12177033/27ecabaa-b562-11e5-8007-0234c84fbb8b.jpg)

[2016-01-09 09:06] twinssbc commented on #38
@pucchur Thanks for reporting this bug, I have submitted the fix in version 0.1.10. Could you have a check? Thanks.

[2016-01-09 09:27] #35 closed

[2016-01-12 04:30] nishadotcom opened #39 "Hide Next Navigation"
Hai @twinssbc

How to hide the next navigation icon for disabling future date????

Best
nishadotcom

[2016-01-12 11:34] pucchur commented on #38
Brilliant work ... shows correct week numbers

[2016-01-12 11:34] #38 closed

[2016-01-12 14:58] twinssbc commented on #39
@nishadotcom You can navigate to template/rcalendar/calendar.html and remove below lines to remove the next icon button.

[code]

[2016-01-13 04:01] nishadotcom commented on #39
Sorry, I need the next icon because if I click on Previous I need to come back.

My question is
      ** How to hide the Next icon to for future dates????**

I mean, The current month is **January 2015**. When I am in January, I should not have the Next icon to see the **Feb 2015**, **Mar 2015 ....**

Best
nishadotcom

[2016-01-13 15:58] twinssbc commented on #39
@nishadotcom I guess I understand your question now. What you can do is to use ngHide or ngShow, they support expression. So in the expression you can call a function which will compare the current date with the current display month, and if it's in the current month, then return false.

[2016-01-14 06:12] nishadotcom commented on #39
Thanks @twinssbc .

I have done by comparing title and my date.

[2016-01-14 06:16] nishadotcom opened #40 "Call a method on Next and Previous icon click"
Hai @twinssbc

I like to call a method on Previous and Next icon click.

E.g:

I have a controller in <body> tag. Name is **my_controller**.

I have declared a method here.

I like to call the method while click on the Next or previous icon.

Please suggest.

Best
nishadotcom

[2016-01-15 00:58] twinssbc commented on #40
@nishadotcom There's a rangeChanged callback you can use, please kindly check the README for the detail. Let me know if it can meet your requirement. Thanks.

[2016-01-18 09:25] nishadotcom commented on #40
Hai @twinssbc

Thanks for the instruction, I wrote a separate method called Test() but I could not access it and I did not get the result.

Please suggest.

Best
nishadotcom

[2016-01-18 12:31] twinssbc commented on #40
@nishadotcom could you provide your related html and js files so that I can have a look?

[2016-01-18 12:37] nishadotcom commented on #40
Hai @twinssbc

Sure.

**Controller**
.controller('myController', function ($scope) {
        $scope.get_date = function (date_param) {
          alert(date_param);
    };
});

I need to alert the date when I click on Next or Previous button by clicking.

Best
nishadotcom

[2016-01-18 12:44] twinssbc commented on #40
@nishadotcom How do you use your get_date function in html file?

[2016-01-18 13:00] nishadotcom commented on #40
Hai @twinssbc

I need to call it on ng-click.

[2016-01-18 13:06] twinssbc commented on #40
@nishadotcom I still don't know where do you call this get_date function.
In calendar.html, the ng-click is already bound to move function, did you replace it using your get_date function?
Is it possible your get_date function is defined in another scope that can't be reached to?

[code]

[2016-01-18 13:07] #39 closed

[2016-01-18 13:12] nishadotcom commented on #40
Hai @twinssbc

I call the method as semicolon separated
  <div class="nav-right col-xs-2">
            <button type="button" class="btn btn-default btn-sm" ng-click="move(1);get_date();"><i
                    class="glyphicon glyphicon-chevron-right"></i></button>
</div>

Yes, It is not reaching out. So I am getting your input.

The thing is I need to get data from service for the particular mont

[2016-01-18 14:38] twinssbc commented on #40
@nishadotcom Instead of customizing the calendar internal behaviour, why not using the callback the calendar exposes?

[code]

[2016-01-19 11:08] benben10 opened #41 "Clicking day navigate to weekview"
Is it possible to click on a date in monthview and have it navigate to the weekview of that day? Or the dayview for that date?

[2016-01-21 14:34] twinssbc commented on #41
@benben10 It's possible, in the timeSelected callback function, you can change the $scope.mode. For example,
[code]

[2016-01-23 05:18] nishadotcom opened #42 "eventSource updated but not displaying the events in calendar"
Hai @twinssbc

I update $scope.eventSource  when I click on Next / Previous button.

$scope.eventSource   has been updated too but the events are not displaying in the calendar.

Please suggest.

Best
nishadotcom

[2016-01-23 07:24] #42 closed

[2016-01-29 01:35] fonini commented on #32
@mkizito76 What solution did you found?

[2016-02-08 06:32] jsmasterathul opened #43 "event-selected and time-selected callbacks not firing inside uib-tabset directive of angular bootstrap"
I was using the calendar directive like below

[code]

the event-selected and time-selected functions were not firing. In a stand alone it was firing.

[2016-02-08 06:39] jsmasterathul commented on #43
sorry I was inspecting a wrong developer console. Its working fine

[2016-02-08 06:39] #43 closed

[2016-02-08 10:47] jsmasterathul opened #44 "The event is displayed wrongly in calendar"
This is my event source

The  events are displayed one day prior when it comes to calendar, do we need to specify time zone also?

[2016-02-12 01:59] twinssbc commented on #44
@jsmasterathul If you want to use allDay event, you have to set the time part to 0:00AM. There's explanation in the README. Thanks.

[2016-03-08 19:41] azamsharp opened #46 "Angular Module Loading Issue"
I am getting the following error:

Uncaught Error: [$injector:modulerr] http://errors.angularjs.org/1.4.5/$injector/modulerr?p0=GCCICR&p1=Error%3A%…ogleapis.com%2Fajax%2Flibs%2Fangularjs%2F1.4.5%2Fangular.min.js%3A19%3A381)

[2016-03-09 00:23] twinssbc commented on #46
@azamsharp This error is a generic error. It usually happens when you failed to inject something, but unfortunately it doesn't print out which one causes the error.
Have you add the dependency of ui.rCalendar like below? Also this error is not certainly because of the calendar, it could be other injected provider, service, directive, etc.

[code]

[2016-03-10 17:09] azamsharp commented on #46
Thanks! It was resolved.

[2016-03-10 17:09] azamsharp opened #47 "Limiting the Calendar to 60 days from the Current Date"
Hello,

Is there anyway to limit the calendar to only show 60 days in the future from the current date?

[2016-03-11 00:25] twinssbc commented on #47
@azamsharp You can limit the events sent to the calendar. But I don't get why showing 60 days? Even the month view can only show the events in this month.

[2016-03-11 00:26] #46 closed

[2016-03-14 14:31] peio72 opened #48 "Angular Material usage"
Do you think this could be portable for use with angular material framework ?

[2016-03-15 12:11] twinssbc commented on #48
@peio72 I played with angular material framework. The calendar can be nicely embedded into content as the screenshot.
But the calendar currently depends on bootstrap. So I have to add bootstrap into the reference. Not sure if it will cause any compatibility issue.

![screen shot 2016-03-15 at 7 52 02 pm](https://cloud.githubusercontent.com/assets/3329841/13777254/f0c44b3e-eae9-11e5-817e-f484508580

[2016-03-16 09:07] peio72 commented on #48
Hello, thanx for this test. The idea would be to get rid of bootstrap and use only the angular material framework. Juste need to modify the templates using specific framework code. Could you tell me if possible and if could help for this.

[2016-03-16 10:03] peio72 commented on #48
I tested with my app and i can confirm bootstrap.css is creating issues with the angular material framework components. So really need a specific template version.

[2016-03-16 13:01] twinssbc commented on #48
Yes, I think it's possible. The bootstrap css classes the calendar depends on are the grid system and some icon. As long as there's equivalent css classes, then should be easy to get rid of bootstrap.

[2016-03-16 13:25] peio72 commented on #48
Please could you explain how to proceed ? Which files need to be modified for new templating ?

[2016-03-16 13:45] twinssbc commented on #48
First you need to fork my repository.
Then in the template/rcalendar folder, it stores the template html files.

In calendar.html, the div with "calendar-navbar" is using some bootstrap button icons and grid system to generate the navigation bar. You can fully replace them with angular material directives.

In month.html/week.html/day.html, the dependent bootstrap classes are "table", "table-borde

[2016-03-16 15:21] peio72 commented on #48
How can i work locally with the templates files ?

[2016-03-16 15:32] peio72 commented on #48
Ok I tried but not success manipulating your code to adapt to material design equivalent. I give up. Maybe you could be interested to port it to angular material one day.

You can have a look at this basic plugin:

https://github.com/jsmodules/angular-material-calendar

[2016-03-16 15:36] twinssbc commented on #48
Sure, I will take a look.

[2016-03-16 20:51] azamsharp opened #49 "Calendar Automatically Selects the Selected Day for Next Month"
If I select March 26 and then go to next month then it automatically selects April 26. Is there anyway to stop this from happening? I do not want to select April 26.

[2016-03-17 00:22] twinssbc commented on #49
@azamsharp So you want it doesn't select any date when switching between month?

[2016-03-30 07:40] BojanKogoj opened #50 "How to build it?"
I did see this issue https://github.com/twinssbc/AngularJS-ResponsiveCalendar/issues/48
but I always get

I downloaded it with git clone and not bower so all files are present (even gruntfile.js)

I've never used grunt before, and I'm kind of stuck.

[2016-03-30 11:57] BojanKogoj commented on #50
Figured it out!
`sudo npm install grunt --save-dev`
(does not work without --save-dev)
`sudo npm install`
`grunt build-tpls`

The only thing left to figure out is how I can build with my custom templates since

[2016-03-30 11:57] #50 closed

[2016-04-18 02:22] captainmorgan0 opened #51 "Event is appearing in two days for an all day event"
I have an event with a startTime set to Wed May 18 2016 00:00:00 GMT+1000 (AUS Eastern Standard Time) and the endTime set to Wed May 18 2016 23:59:00 GMT+1000 (AUS Eastern Standard Time).
When the calendar loads, the all day event is showing on May 17 and 18. I have tried this with the allday flag set to true and false and I get the same result

[2016-04-18 12:22] twinssbc commented on #51
@captainmorgan0 As I documented in README, you need to use UTC date for all day events.

[code]

[2016-04-18 23:33] captainmorgan0 commented on #51
Thanks. That works, and the event shows when viewing by month. However, I don't see the event in week or day view.

[2016-04-18 23:57] twinssbc commented on #51
@captainmorgan0 You can't see the allDay events or even normal events? Is the view rendered ok? If so, could you check if the events are passed correctly to the selected date range?

[2016-04-19 00:01] captainmorgan0 commented on #51
In month view, I can see normal events and all day events. In week view and day view I can see normal events, but I can't see all day events.

[2016-04-19 00:12] captainmorgan0 commented on #51
In you documentation, you say the startTime has to be as a UTC date which time is set to 0:00 AM, However, If I do console.log(new Date(Date.UTC(2014, 4, 8)));, I get the output "Thu May 08 2014 10:00:00 GMT+1000 (AUS Eastern Standard Time)", the time is no 0:00 AM.  Does your example need to specify the time as well?

[2016-04-19 00:22] twinssbc commented on #51
You don't need to specify the time part.
The local time Thu May 08 2014 10:00:00 GMT+1000 (AUS Eastern Standard Time) is exactly 2014-05-08 00:00 AM in UTC time.
Also in Date.UTC method, month parameter is 0-11. That's why you pass 4, but actually it's May.

[2016-04-19 00:38] captainmorgan0 commented on #51
My bad. My css was hiding the all day event in the day and week view.

[2016-04-19 00:38] #51 closed

[2016-04-19 03:18] captainmorgan0 opened #52 "All Day event not showing in Next and Previous months"
I have created an event in the previous month, current month and next month. When I load the calendar, in the current month view, I can see one dark blue day and 2 light blue days (for the events in the previous an next month). When I go to the previous or next month the all day event is not displayed (the day is not dark blue, it remains white). And when I click on the day it displays "No Events"

[2016-04-19 14:17] twinssbc commented on #52
@captainmorgan0 Could you give me a specific sample on which date you put the event so that I can try to reproduce it?

[2016-04-19 22:28] captainmorgan0 commented on #52
Add aan all day event for May 5th

[2016-04-20 00:25] twinssbc commented on #52
@captainmorgan0 I can't reproduce it. See the below screenshots and code snippets.

[code]

![screen shot 2016-04-20 at 8 21 03 am](https://cloud.githubusercontent.com/assets/3329841/14659746/20cde4cc-06d1-11e6-87b1-1d66637b9bd4.png)
![screen shot 2016-04-20 at 8 22 17 am](https://cloud.githubusercontent.com/assets/3329841/14659749/291825a2-06d1-11e6-81be-4f11ad68b1ea.png)
![screen shot 2016-04-20

[2016-04-20 00:31] captainmorgan0 commented on #52
I now see what I was doing wrong. I had the start and end dates the same.

[2016-04-20 00:31] #52 closed

[2016-05-23 04:57] captainmorgan0 opened #53 "rangeChanged not triggering"
Here is my HTML:
`<calendar ng-model="currentDate" calendar-mode="calendarMode" event-source="bookingSource" query-mode="remote"
                                          range-changed="rangeChanged(startTime, endTime)"
                                          event-selected="onEventSelected(event, $event)"></calendar>`

and here is what I have in my controller:
`$scope.rangeChanged = function (s

[2016-05-23 12:04] twinssbc commented on #53
@captainmorgan0 I notice that you put the log method in Events.query call.
Could you move it out to see if the log will be printed or not?
Also under what circumstance do you mean it is not triggered? At the load time? When you slide to the next month?
Another thing worth to check is if you put the calendar into some directive having the isolated scope, so that it can't bind the method into your c

[2016-05-23 23:55] captainmorgan0 commented on #53
I have tried moving the log as the first line in rangeChanged function and it still does not print out. I mean the rangeChanged function is not triggered when you click month, day or week or when you go to the next or previous month.
As for putting the calendar in a directive having isolated scope, I'm not sure how that is done.
Is there any other way to load the data one month at a time?

[2016-05-24 02:51] twinssbc commented on #53
@captainmorgan0 I think I know what's wrong. Could you assign the query-mode to a variable? It doesn't support directly specify the value in html.

[2016-05-24 02:55] captainmorgan0 commented on #53
Yes, that was the problem. thanks

[2016-05-24 02:55] #53 closed

[2016-05-26 05:21] TejasCMehta commented on #48
@twinssbc ,  Have you looked at that plugin. I need Angular Material support too!!

Thanks for the great plugin!! :+1:

[2016-05-26 15:43] twinssbc commented on #48
@TejasCMehta As I said in the previous comments, you can still embed the calendar into Angular Material. It just won't be that fancy like angular-material-calendar as it's using native control.
I certainly will look at porting my calendar to Angular Material, but I'm a bit busy right now, so probably won't build a version in short term.

[2016-05-27 13:37] daniel50096230 opened #54 "Display events on Calendar"
Is it possible to display the events directly on the calendar instead of I need to hover it or click the circle icon to view the events? I need it badly but cannot figure out how to do it.

[2016-05-27 14:11] twinssbc commented on #54
@daniel50096230 Sorry, I don't get your question. I didn't implement some hover to display capability or circle icon in my calendar.

[2016-05-27 14:17] daniel50096230 commented on #54
Sorry for misleading you. Actually what I want is showing the events text on the calendar itself and not only showing different color to indicate there is event on the particular date. Just like the fullcalendar, showing the events directly on the calendar. Is it possible?

[2016-05-27 14:22] twinssbc commented on #54
@daniel50096230 Now I get it. The reason I only show different color for the month view is because I intend to make this calendar work in mobile device, it's not possible to display all events in a small screen.
To make it work in the month view requires quite a lot of code change. If you are willing to implement it by yourself, you can refer to the logic in week view and day view.

[2016-05-31 12:36] Django999 opened #55 "Switch to day view from month view by clicking on a date"
Is it possible to switch to day view from month view  by clicking on a day with events ?.On click of a date in month view I need to switch to day view and show its events there.I am new to angular ,and  unable to figure out how to do it.

[2016-06-01 00:22] twinssbc commented on #55
@Django999 It's possible. In your time selected callback, you just need to change the calendar mode.

[code]

[2016-06-01 02:13] Django999 commented on #55
@twinssbc Ok Thanks for the solution

[2016-06-01 02:13] #55 closed

[2016-07-18 06:30] captainmorgan0 opened #56 "Don't colour day in month view based on event title"
I've been given a requirement not to have the day (in month view) highlight blue if there is only one event on a day and that event contains "Unavailable" in the title. Is this something that would easily be done? I can't figure out in your code, how I should do it.

[2016-07-18 16:25] twinssbc commented on #56
@captainmorgan0 In month.html, below code controls the css class applies to each cell.
You can add your logic there.

[code]

[2016-07-19 00:54] captainmorgan0 commented on #56
I've looked at that, but I'm not sure how the template files are used. I made some changes to them, but they aren't reflected when I run my app.

[2016-07-19 12:21] twinssbc commented on #56
It's because calendar-tpls.js already includes the templates.
You need to run grunt build-tpls to generate a new calendar-tpls.js which includes your updated template.

[2016-07-19 22:33] #56 closed

[2016-07-25 13:44] eloimartins opened #57 "How to translate months"
How to translate the names of the months and the week?

[2016-07-25 23:41] twinssbc commented on #57
The showEventDetail option should be specified as html attribute.
show-event-detail="true"

[2016-08-28 08:17] #36 closed

[2016-08-28 08:18] #44 closed

[2016-09-28 01:00] isteven opened #59 "Callback on "Prev" and "Next" click"
Hi @twinssbc ,

Thanks for the directive, it's really helpful.

I need to create a callback when the next / prev button is clicked. Something similar with this: #40.

As suggested there, I tried using the "range-changed" attribute, but I'm still unable to get my callback function triggered.

My HTML:
[code]

My Javascript:
[code]

Any help would be appreciated. Thanks.

[2016-09-28 03:41] isteven commented on #59
Sorry, just ignore this question, I manage to do it already. Will open a new issue.

[2016-09-28 03:41] #59 closed

[2016-09-28 03:54] isteven opened #60 "How do I create more than one calendar and link them together?"
Hi,

I need to create two calendars, showing current month & current month + 1 (for example, september and october 2015).

These calendar would be linked together; if I click the "Next" button on one calendar, the other one will also advance to the next month, like:

Calendar 1: September 2016
Calendar 2: October 2016

I click "Next" on calendar 1, then they'll be:

Calendar 1: October 2016
Calend

[2016-09-28 15:03] twinssbc commented on #60
@isteven
You can control the calendar navigation by changing the ng-model variable.
Let's say the first calendar is bound to currentDate, the second calendar is bound to currentDate2.
Then in the rangeChanged callback of first calendar, you can do something like:

[code]

[2016-10-03 00:32] captainmorgan0 opened #61 "All Day not working."
I have the following example where there are 3 all day events, yet they are spanning multiple days
https://plnkr.co/edit/5BOY1ATjFFShsehzpilZ?p=preview

My computer's timezone is set to UTC+10:00 Canberra, Melbourne, Sydney.

Am I doing something wrong, or is there a bug? I am using Chrome for my browser

I did discover if I set my timezone to UTC 0, then the all day events appear correctly.

[2016-10-05 07:38] twinssbc commented on #61
@captainmorgan0
Yes. For all day events, the start time and event time has to be in UTC format. I've mentioned it in README.

[2016-10-05 09:54] captainmorgan0 commented on #61
If you have a look at my example i created, you will see that i am using UTC format.

`var startTime = new Date(Date.UTC(2016, 09, 04));
        var endTime = new Date(Date.UTC(2016, 09, 05));
        events.push({
                    title: 'Event - 1',
                    startTime: startTime,
                    endTime: endTime,
                    allDay: true
                });
        `

[2016-10-06 03:52] captainmorgan0 commented on #61
I believe there is an issue with daylight savings times, as last week we started daylight savings time. If I change my timezeone to UTC +10:00 Brisbane (which doesn't have daylight savings), the events appear correctly.

[2016-10-10 14:50] twinssbc commented on #61
@captainmorgan0
I think it's a bug.
I have fixed it in version 0.1.15.
Could you have a check? Thanks!

[2016-10-10 23:07] captainmorgan0 commented on #61
That works now. thanks

[2016-10-10 23:07] #61 closed

[2016-11-14 09:22] iamntg commented on #59
@isteven Hi, I am facing the same problem. how did you managed to get this done?

[2016-11-15 15:45] twinssbc commented on #59
@iamntg What's your issue? The rangeChanged callback is not triggered?
This callback is only triggered when the queryMode is set to 'remote', did you set it?

[2016-11-15 16:17] iamntg commented on #59
@twinssbc Hey, it was fixed, Thank you. The queryMode need to be set as variable from the controller. I was trying to set it directly from the html.

[2016-11-17 08:27] iamntg commented on #49
@twinssbc is there any ways to prevent auto selecting days when month changing?

[2016-11-17 11:35] twinssbc commented on #49
@iamntg It requires quite big change in the source code.

[2017-01-20 16:16] Ethenikset opened #62 "ECONFLICT angular / bootstrap"
Hi, I have  "ECONFLICT Unable to find suitable version for angular" when i want to install.

here my CMD:

that's my bower.json , I don't know what to do .
If someone have an issue i'll be thanksfull !

[2017-01-22 09:46] twinssbc commented on #62
@Ethenikset When you run bower install ng-responsive-calenar command, is there any prompt let you to choose the Angular version? Because this calendar was written to be compatible with 1.2, and you have 1.4.9 in your bower.json.
Below is my console output:
I need to choose angular#~1.4.9 explicitly.
[code]

[2017-01-23 09:02] Ethenikset commented on #62
I have no choice to find a version of angular. He don't want to let me pick another version

[2017-01-23 13:21] twinssbc commented on #62
@Ethenikset If you type **bower info angular**, what's the available version?

[2017-01-23 13:55] Ethenikset commented on #62
1.0.3 to 1.6.1

  - 1.6.1
  - 1.6.0
  - 1.5.11
  - 1.5.10
  - 1.5.9
  - 1.5.8
  - 1.5.7
  - 1.5.6
  - 1.5.5
  - 1.5.4
  - 1.5.3
  - 1.5.2
  - 1.5.1
  - 1.5.0
  - 1.4.14
  - 1.4.13
  - 1.4.12
  - 1.4.11
  - 1.4.10
  - 1.4.9
  - 1.4.8
  - 1.4.7
  - 1.4.6
  - 1.4.5
  - 1.4.4
  - 1.4.3
  - 1.4.2
  - 1.4.1
  - 1.4.0
  - 1.3.20
  - 1.3.19
  - 1.3.18
  - 1.3.17
  - 1.3.16
  - 1.3.15
  - 1.3.14
  - 1.3.13

[2017-01-23 16:28] twinssbc commented on #62
I think as a workaround you can install ng-responsive-calendar in an empty folder and copy the install files to your project. I will do more investigation to understand why you get this error.

[2017-01-23 16:43] Ethenikset commented on #62
ok problem fixed ! It's due to windows's rights . I have uninstall all dependencies and in a virtual machine I have clone my project, installed my dependencies, copy past my bower.json on windows and install again. That have worked.

Thanks again for your help !

[2017-01-23 16:44] #62 closed

[2017-02-08 12:09] kishor-shinde opened #63 "Disable next and previous months"
I want to show only events for current date and disable all other months.

[2017-02-13 09:16] twinssbc commented on #63
If you want to show events for this month, you just need to only return the events for this month in the rangeChanged callback.

[2017-03-22 13:13] leceal opened #64 "Layout on hours column is messy"
Hi, i'm having an issue where the event doesn't show properly in the hours column. For example, if my event is from 2:00 to 23:30, the collum gets filled up to 9 ish or 10 ish, doesn't fill the proper hour block. Any idea where can i watch this?

[2017-03-22 13:23] twinssbc commented on #64
@leceal Could you print out your event object to see what's the startTime and endTime? Is it a standard date object? Is the event start hour displayed correct, only the end hour wrong?

[2017-03-22 13:33] leceal commented on #64
Hey, thanks for you incredible fast answer. Yeah, it is a standar Date object, i'm attaching two pics where you can see two events:

Event One = 00:00 - 18:00
Event Two = 02:00 - 18:00

Both end at same time but start on different times, and you can see the layout for the start time is perfect, but the end time is messy hahaha.

![start event time](https://cloud.githubusercontent.com/assets/138878

[2017-03-22 16:20] twinssbc commented on #64
@leceal Which timezone are you in?

[2017-03-22 16:22] leceal commented on #64
(UTC-03:00) Santiago.

[2017-03-22 19:55] leceal commented on #64
Found the "error" is on the view (HTML/CSS side). The class "calendar-hour-column" is at 50px, which make the hours 10, 11, 12 to do a line break with the "A.M" or "P.M", which make the "height" of those rows thicker, which make the "event filler formula" (left: 100/displayEvent.overlapNumber*displayEvent.position+'%', width: 100/displayEvent.overlapNumber+'%', height: 37*(displayEvent.endIndex-di

[2017-03-23 00:15] twinssbc commented on #64
@leceal OK. The 50px width is only for the default text. If you need to provide customized text, you need to override CSS to make the hour column wider.

[2017-04-06 05:31] amulyadande commented on #63
@twinssbc how can i disable the previous dates upto current date in angularjs ui-calendar can u send me the code plz

[2017-04-07 00:16] twinssbc commented on #63
@amulyadande You should ask the usage about ui-calendar in https://github.com/angular-ui/ui-calendar

[2017-04-21 08:36] SamTPang opened #67 "How to give to onTimeSelected() event informations ?"
Hello,

I have on my calendar some events but when onEventSelected is fired, onTimeSelected too.
The required behavior is firing of onTimeSelected only when there is a click outside of an event.

I need to have either event informations in onTimeSelected method or the selectedTime in onEventSelected in order to set this behavior..

Any idea how to proceed ?

Best regards.

[2017-04-23 12:25] twinssbc commented on #67
@SamTPang I have added events parameter in onTimeSelected callback. It has been released in version 0.1.17. Feel free to have a try.

[2017-04-25 07:40] #67 closed

[2017-05-15 15:42] SamTPang opened #68 "Week and day view horizontally vs current vertical design ?"
Hello,

I'd like to customize the calendar implementation for our project.
Is there a way to display week and day view horizontally instead of the current vertical design ?
The month view actually is fine.

Best regards !

[2017-05-16 00:51] twinssbc commented on #68
@SamTPang This calendar doesn't support displaying view vertically. It will require quite big change in the code. For example, currently you can click left/right button to switch previous/next view, you probably need to add logic to switch to the other view when scrolling to the top/end.

[2017-05-17 09:57] scherhak opened #69 "Entries don't appear in iOS"
Hi,

The calendar entries don't appear on iOS devices (in my case). Android works. Now someone about it?

Kind regards!

[2017-05-17 16:19] twinssbc commented on #69
@scherhak Which Angular version are you using? What's the calendar entries are you referring to? Does the calendar itself display correctly? Only the events don't appear?

[2017-05-17 16:41] scherhak commented on #69
@twinssbc Thanks for reply. I using AngularJS 1.6.4 and get the entries via $http.get. Basically everything works very well. See ...
Screen [iOS / Safari (also Chrome)](http://www.evernote.com/shard/s9/sh/24013e67-1366-4e46-9af1-e128d8c08d8d/93a9c863de388a095c86bedefc4c30d8)
Screen [Android / Chrome](http://www.evernote.com/shard/s9/sh/a1d1051c-afcb-4da8-bfa8-74637bb6113e/246dbcca5f97a8fd6de83c869

[2017-05-18 00:18] #69 closed

[2017-06-07 15:34] vivek9091 opened #70 "View is not updating when query-mode is set to remote"
Hello,
I have updated query-mode to remote in calendar-tpls.js file . I am reading data from backend.
I have updated 'reloadSource' function.
<div class="well well-sm" >
                <calendar ng-model="currentDate" calendar-mode="mode" event-source="eventSource"
                          range-changed="reloadSource(startTime, endTime)"
                          event-selected="onEventSelected(

[2017-06-08 13:38] twinssbc commented on #70
@vivek9091 Your createEvents method is an async method, you need to manipulate the eventSource variable in your callback.
In your current logic, at the time executing $scope.eventSource = createEvents(), nothing is passed to eventSource.

[2017-06-14 12:49] githubmss opened #71 "Not getting arrows on top header as shown in Example"
Hello sir, i just downloaded your  sample and tried to use it in my application , i am not able to see any arrows inorder to move the calendar in following months or in previous month. Instead in my device Swipe is working for moving the calendar to following or previous month.I just need your little help here , Can you please tell me how can i restrict user to move on previous month. I tried to d

[2017-06-16 15:03] twinssbc commented on #71
@githubmss The previous and next button is not part of the calendar. You could add it by yourself. You could also add logic to disabling click these buttons if you want to restrict user.

[2017-08-04 13:18] #64 closed

[2017-11-22 05:12] Komald opened #72 "The time interval is not displayed correctly."
The time slots having time in minutes is not getting displayed properly in week view and day view.

In the attached screen shot of week view, it's clear that the event start at 6.31 but on the calendar it's showing right from 6.00.
Similarly in day view screen shot the event starting at 1:48 (nearing to 2:00) is showing right from 1:00 and end time as 4:38 is stretched upto 4:59.
These are the scr

[2017-11-22 13:00] twinssbc commented on #72
@Komald Are you saying the event should not occupy the whole cell, but part of the cell depending on the minute? Actually if you check other calendar controls, that is the default behavior. It's not reasonable to calculate the height of an event depending on the minutes. Let's say if you have an event starting from 1:00 to 1:01, the height of this event will be very small, you won't be able to sel

[2017-11-23 04:41] Komald commented on #72
Quite right for the small intervals you said, but for others if we can divide the hour in two parts and round up to nearing time it would be good. Similar to what's been happening in [ui-calendar](https://github.com/angular-ui/ui-calendar)

I found that it's setting from calendar-tpls.js but I did't get time to dig around much. Will try to find something over couple of days.

[2017-11-23 13:24] twinssbc commented on #72
I've implemented this feature in my other calendar controls. I could port this feature into this control, but will take some time.

[2017-11-23 13:29] Komald commented on #72
Cool!
Please let me know if you create some pull request for the same.

[2017-12-02 08:58] twinssbc commented on #72
@Komald I have added 'step' option in the latest version. Feel free to give a try.

[2017-12-04 04:38] Komald commented on #72
Awesome! That really did the job.
I have updated the version and it's working seamless.
Thanks vary much!
I will proceed and close this issue then.

[2017-12-04 04:38] #72 closed

[2017-12-21 19:49] jefvonmuhlen opened #73 "Problem opening calendar in mobile browser"
When I open my system in the computer browser it appears normal data, now when it is in the mobile browser (IOS was what I tested), it does not make the background color on the date and neither appears the data when clicked.

What can be done?

[2017-12-22 12:50] twinssbc commented on #73
@jefvonmuhlen Could you remote debug the browser in your device to see what error is printed out in the console?
If the issue is only related to Safari, sometimes it's because of below problem
https://stackoverflow.com/questions/4310953/invalid-date-in-safari

[2017-12-22 14:40] jefvonmuhlen commented on #73
@twinssbc it is not generating any errors on the console. Any idea what I need to change?

[2017-12-22 14:59] jefvonmuhlen commented on #73
I found this error on the safari:

Error: undefined is not an object (evaluating 'rows[startIndex].events')
_onDataLoaded@http://192.168.0.168:8084/SalaoWeb/componentes/rcalendario/js/calendar-tpls.js:974:64
onEventSourceChanged@http://192.168.0.168:8084/SalaoWeb/componentes/rcalendario/js/calendar-tpls.js:88:43
http://192.168.0.168:8084/SalaoWeb/componentes/rcalendario/js/calendar-tpls.js:30:46

[2017-12-22 23:55] twinssbc commented on #73
Could you debug to see what's the value of startIndex?
And what does your event look like? What's the value in the startTime and endTime fields?

[2017-12-24 15:05] jefvonmuhlen commented on #73
I tried to debug but could not find the problem. But everything indicates that it is the Date format.

[2018-03-29 23:56] juntaforce opened #74 "AngularJS-ResponsiveCalendar with ionic"
Hi @twinssbc ,

  I dont want to use Ionic2-Calendar. Because I dont want to use slider with slides.
I want to use AngularJs version only Ionic but why  did you say that we can use ionic spesific version.
Are there a problem with ionic with this version??

[2018-04-05 13:29] twinssbc commented on #74
@juntaforce
First of all, I never tried to use this pure Angular version in Ionic project. This version relies on bootstrap for the layout. And Ionic has its own element and  css class, so it's possible they may conflict with each other. Moreover, the current Angular and Ionic version are using typescript and module system. Not sure if this version could be easily imported into the Ionic project.

[2018-04-13 15:20] slishnevsky opened #75 "Selected day (today) stays selected when moved to next/prev month"
Selected day (today) stays selected when moved to next/prev month
Hi, when I click on arrows to navigate to next/prev month, selected day (which is today's date) is still displayed for another month. Say, today is 13-Apr. This days is selected on the calendar. But after clicking next, the calendar displays May month, with 13 selected.

[2018-04-15 12:10] twinssbc commented on #75
@slishnevsky This is expected behavior. When you switch to next month, the selected date will be changed accordingly.

[2018-04-16 21:52] slishnevsky commented on #75
Understood, thank you.

[2018-04-16 21:52] #75 closed

[2018-04-23 13:17] slishnevsky commented on #54
You need a different calendar component to display events inside the calendar itself: https://fullcalendar.io/

[2018-04-29 21:59] slishnevsky commented on #56
what is the meaning of "secondary"? when is "monthview-secondary-with-event" class applied to a cell?

[2018-05-03 03:04] twinssbc commented on #56
@slishnevsky When displaying the current month, there are still couple days need to be displayed in previous and next month. These are the 'secondary' date.

[2018-05-03 19:41] slishnevsky opened #76 "Events with different colors, please add this simple fucntionality"
Hi I really like your calendar component.
Could you please add this simple feature as event color property to you event class?
I grab events from Google Calendar, where I have holidays in green, my events in red, birthdays in blue etc... Google api passes these colors (backgroundColor and foregroundColor) along as part of even object.

If you had backgroundColor and foregroundColor properties in y

[2018-05-05 01:34] twinssbc commented on #76
@slishnevsky Sure, I can add it. This calendar is based on Angular 1, that's why I tend to keep it into maintenance mode. Do you still plan to use it since Angular 6 is also there?

[2018-05-18 09:14] Violetgdx opened #77 "日期限定"
您好，请问当前日期之后不可选；该怎么设置

[2018-05-19 06:17] twinssbc commented on #77
@Violetgdx 不支持这个选项，你可以在onTimeSelected里添加些逻辑，判断如果室当前日期之后就不做任何操作，或者弹出提示框。

[2018-07-08 12:48] rajdu opened #78 "How to select custom date on initial load of calender?"
Hi,
suppose i i added a event which contains the event of month august so i want to load the calender of august view on load.
currently on load it shows current month.
please help

[2018-07-08 14:15] twinssbc commented on #78
@rajdu Suppose you bind the model to currentDate, you just need to set the currentDate to a date in August, the calendar will automatically navigate to August.
[code]

[2018-07-18 14:49] #25 closed

[2018-08-16 10:25] KishorSh opened #79 "Day view customised start time (From 10 AM rather than 12 AM)"
Currently calendar shows time from 12 AM but i have a requirement where i need to start this timing from 10 AM as most of the time events are from 10 AM on wards.
Please let me know if any way of doing this.

[2018-11-13 20:03] slishnevsky commented on #76
@twinssbc
Hi, I like you calendar a lot for simplicity. I have switched from AngularJS to Angular (v6 v7) do you by any chance have this calendar available for Angular? Thanks !!

[2018-11-15 13:06] twinssbc commented on #76
@slishnevsky Sorry, I didn't write an Angular version.

[2018-11-17 14:52] slishnevsky opened #80 "Migrate to Angular?"
This is not an issue, just didnt know where to post the question....

So far this is the only simple and clean calendar app that I have found, that can display events and that can be easily customizable.

![image](https://user-images.githubusercontent.com/2932739/48662304-52111500-ea4e-11e8-8146-f70199b7ab3c.png)

Since AngularJS is a little outdated, can you convert it into Angular 2+ so that it

[2018-11-18 04:12] twinssbc commented on #80
@slishnevsky Yes, I will convert it, but I'm quite busy right now, may have some time when the year end comes.

[2018-12-19 13:10] ricardo-arango opened #81 "time-selected doesn't trigger in "month" view"
I setup the time selected and it's only working in "week" and "day" views. Nothing triggers when I click on days in "month" view.

[2018-12-19 15:11] twinssbc commented on #81
@ricardo-arango It should be triggered, you can verify that behavior in the demo page

[2019-01-01 10:40] twinssbc commented on #80
@slishnevsky I have created the Angular version of this calendar. Feel free to give a try.
https://github.com/twinssbc/Angular-Customizable-Calendar

[2019-01-01 11:01] #80 closed

[2019-02-05 14:47] juarezgerman opened #82 "how to show calendar in spanish"
Hello twinssbc, nice calendar!!!
I would like to use it in spanish, is it possible? can you tell me how can i do?
thanks. German.

[2019-02-05 17:08] juarezgerman commented on #82
Hello twinssbc, I can solve it including angular-locale_es.js! (like you show in Ionic-Calendar)
but now I cant show the word "Semana" instead of "Week" in the week view because if I edit Calendar-tpls.js and set:
**formatWeekTitle: 'MMMM yyyy, Semana w',**
then the result is: **febrero 2019, "Se0a. m.na. m." 5**

it look like some letters of "Semana" are interpreted.
well, I appreciate your help.

[2019-02-05 17:14] juarezgerman commented on #82
Twinssbc, forget it!.. i found it:

**formatWeekTitle: "MMMM yyyy, 'Semana' w",**

you can close the issue.
German.

[2019-02-06 12:59] #82 closed

[2020-07-30 12:58] bricecarbou commented on #76
Hello,

The idea of color is very interesting. We use this calendar in an internal project since few yea and we have no request to change currently.

If you can add (easily)  selected color for event type, it will be very nice :)

[2020-11-06 08:10] SelimAtasever commented on #76
i ll leave what i did here, maybe it can help someone. In my controller i added eventsource a condition whether it should be green or red:
color: (calendar_time['free_quota'] < 1 ? 'red' : 'green' ),

---------------------------------------------------------------

 and in calendar.css file, i added two class below calender-event-inner as:

.calendar-event-inner.green {
    background-color: #26c2

[2021-07-29 08:24] Pinkesh-25 opened #83 "How to Display Current time indicator"
Can you please help me how to display current time indicator in day or weekview section?

[2021-08-02 23:30] twinssbc commented on #83
@Pinkesh-25 How do you want to indicate the current time? One way I can think out is changing the background.
You could leverage the customized template. For example,

You could define a weekviewNormalEventSectionTemplate.
Notice that I put a calendar-current ngClass in it.
[code]

Then in your component ts, you need to implement the isCurrentTime logic
[code]

Last but not least, specify the cale

[2021-08-02 23:32] twinssbc commented on #83
This is an example, you probably could put some icon on the slot to make it more beautiful.

![Screen Shot 2021-08-03 at 7 37 07 AM](https://user-images.githubusercontent.com/3329841/127936284-e2656e62-33a4-4b3f-83eb-2c7750a67972.png)

[2021-08-04 08:29] Pinkesh-25 commented on #83
Hi @twinssbc
It's working good Thanks.
I have one more doubt can we show current time also? Please check the attached screenshot below?
https://www.dropbox.com/s/iv3t512h4w3zzv0/Screenshot%202021-08-04%20at%2013.53.38.png?dl=0

[2021-08-04 14:43] twinssbc commented on #83
@Pinkesh-25 Unfortunately this kind of current time indicator is not supported.

[2021-08-05 05:36] #83 closed, assigned to nobody

[2021-08-06 10:08] Pinkesh-25 opened #84 "Can we show two or more appointment according to person name in Day View?"
Can we show two or more appointment according to person name in Day View? Please check the attached screenshot for better understand.
https://www.dropbox.com/s/rpivzs75xu83xiu/Screenshot%202021-08-06%20at%2015.35.54.png?dl=0

[2021-08-15 23:25] twinssbc commented on #84
@Pinkesh-25 The calendar only cares about the eventSource array you passed in, it's purely your choice how you want to display the events.

[2022-04-28 14:05] poca2k opened #85 "Set options"
Where do i set the options? I would like the time to show as 00 instead of 12AM, how can i do it?

[2022-05-10 00:44] twinssbc commented on #85
@poca2k this repository is based on Angular 1, are you really using it?

[2022-05-10 08:20] poca2k commented on #85
Yes

[2022-05-15 09:40] twinssbc commented on #85
@poca2k Suggest you use https://github.com/twinssbc/Angular-Customizable-Calendar, it is based on newer version of Angular.